.retry{
    display: inline-block;
    width: 100%;
    background-color: blue;
    border-color: blue;
    font-size: 20px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}
.retry span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.retry span:after{
    content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.retry:hover span {
    padding-right: 25px;
  }
  
  .retry:hover span:after {
    opacity: 1;
    right: 0;
  }