
.Grid-main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Grid-table{
    flex: 1;
    border-collapse : collapse;
    width: 60%;
    height: 300px;
}
table,td{
    border: 5px solid black;
}
