
.Grid-main{
    display: flex;
    align-items: center;
    align-content: stretch;
    flex-direction: column;
}
.Grid-table{
    flex: 1;
    border-collapse : collapse;
    width: 60%;
    height:300px;
}
td{
    border: 5px solid black;
}
.gameMessage{
    height:20px;
}